# compiled output
/dist
/node_modules

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.iml

# Environment variables
.env
.env.production
.env.development
.env.test

# Docker Secrets
# docker/develop/env

# Coverage
coverage/
documentation/

# Temporary files
scratch/
test-results/